<% if assignment_grades %>
  <table class= "tables">
    <thead>
      <tr>
        <th>Grade  </th>
        <th>Assignment name </th>
        <th>Assignment date </th>
        <th>Student </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class="grades_table">
        <%= render assignment_grades %>
    </tbody>
  </table>
  <br>

  <%= link_to 'New Assignment grade', new_assignment_grade_path, class: "add-user-button add-new", remote: true if session[:person_type] == "Teacher"%>

<% else %>

  <p>Sorry. There are no assignments for this user. Either your teacher needs to create some, or your permissions need to be changed. Contact your teacher for more details.</p>

  <%= link_to 'New Assignment grade', new_assignment_grade_path, class: "add-user-button add-new", remote: true if session[:person_type] == "Teacher"%>
<% end %>
