
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

<h1 class="table-name">Students</h1>

<table class="students tables">
  <%= render partial: "students_table", locals: {students: @students} %>
</table>
<br>

<div class="add-new"><%= link_to 'New Student', new_student_path, :class => "add-user-button", remote: true %></div>

<div class="new_student">
</div>
<div class="manage_assignments">
</div>
<div class="add_assignment">
</div>
<div class="manage_achievements">
</div>
