<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<div class="Three-Dee-Container">
  <h1 class="Three-Dee">Grade Master</h1>
</div>
<div id="form-main">
  <div id="form-div">
    <div class="form" id="form1">
      <h1>Please Login:</h1>
      <%= form_tag(login_path) do %>
      <p class="name">
        <%= email_field_tag 'email', nil, placeholder: "Email Address", class: "validate[required,custom[onlyLetter],length[0,100]] feedback-input" %>
      </p>
      <p class="email">
        <%= password_field_tag 'password', nil, placeholder: "Password", class: "validate[required,custom[email]] feedback-input" %>
      </p>
      <div class="submit">
        <%= submit_tag "Login", :id => "button-blue" %>
      </div>
      <% end %>
    </div>


    <div class="git-link" >
    <p><a href="/auth/github"><img src="https://www.doitwithwp.com/wp-content/uploads/2015/08/github-logo.png" alt="Github" class="git-image"></a></p>
      <a href="/auth/github">Sign in with Github</a>
    </div>

  </div>



</div>

<script>hideHeader();</script>
